@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hwb(0 0% 96%);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0f0e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
